@import "../../styles/index.scss";

.tile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    width: clamp( 40px, 9vw, 80px );
    height: clamp( 40px, 9vw, 80px );

    font-size: 20px;
    color: $accent-color;

    margin: 5px;
    div {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $secondary-color;

        transition: opacity .3s;
    }
}

.hideTile {
    opacity: 0;
}